# Core backend
fastapi
uvicorn
gunicorn

# AI APIs
openai
cohere
google-generativeai

# Vector DB
pinecone

# Tokenization
tiktoken

# Environment variables
python-dotenv

# File upload (multipart forms)
python-multipart

# File parsing
PyPDF2
python-docx
pandas
